.navbar{
    height: 25px;
}
.btn{
    font-size: 10px;
    margin-left: 142px;
    color: white;
}

.btttn,.regstr,.call{
    margin: 0;

}
i{
    color: white;
}
a{
    color: aqua;
}
.fb {
    margin-left: 450px;
}
.twr,.tgm,.skp{
    margin: 0;
}
.nav2{
    background-color: white;
    height: 50px;
}
.o{
    color: aqua;
}
h1{
    margin-left: 142px;
}
.home{
    color: aqua;
    margin-left: 100px;
    font-weight: bold;
    padding-left: 142px;
    font-size: 15px;
    
}
.btn1{
    margin: 0;
    color: black;
    font-weight: bold;
    font-size: 15px;
   
}
.search{
    color: black;
    border-radius: 100%;
    padding: 5px;
    border: 2px solid;
    
}

.img3{
    width: 100%;
    height: 650px;
}
.text1{
    position: absolute;
    top: 180px;
    color:white;
    margin-left: 600px;
}
.prevbtn,.nextbtn{
    margin: 50px;
    margin-top: 17%;
    height: 30px;
    width: 30px;
    background-color: aquamarine;

    
}
.text2 {
    position: absolute;
    top: 220px;
    margin-left: 473px;
    color:white;
}
.btn2{
    background-color: aqua;
    position: absolute;
    top:260px ;
    margin-left: 608px;
    border: none;
    color: aliceblue;
    width: 181px;
    height: 32px;
    border-radius: 2%;
}
.infobtn {
    position: absolute;
    top: 260px;
    margin-left: 802px;
    width: 136px;
    height: 32px;
    border-color: aliceblue;
    background: transparent;
    color: aliceblue;
    border-radius: 2%;
}
.nav3{
    background-color: darkslategray;
    height: 65px;
}
.text3{
    font-size: 15px;
    margin-left: 150px;
    color: aliceblue;
    margin-top: 4px;

}
.text4{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}
.rightbtn{
    color:aliceblue;
    margin-left: 18px;
    
}
.text3 .reduced-opacity{
    opacity: 0.7;

}
.text5 {
    color: aliceblue;
    opacity: 0.7;
    margin-top: 12px;
    margin-left: 32px;
}
.dstn {
    margin-left: 12px;
    position: relative;
    display: inline-block;
    width: 255px;
}
.gbl{
    position: absolute;
    margin-left: 596px;
    color: black;
    opacity: 0.7;

}
.text6{
    color: aliceblue;
    opacity: 0.7;
    margin-top: 12px;
    margin-left: 13px;
}
.date{
    margin-left: 12px;
    width: 264px;
}
.searchbtn{
    margin-left: 30px;
    background-color: aqua;
    color: aliceblue;
    border: none;
    
}

.text7 {
    color: black;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 628px;

}
.text8{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 515px;

}
.rounded{
    width: 185px;
    height: 150px;
}
.rounded:hover{
    transform: scale(1.4);
}
.imgcontent{
    display: inline-block;
    height: 240px;
    
}
.btn3 {
    margin: 0;
    height: 28px;
    width: 184px;
    background-color: gray;
}
.places{
    height: 400px;
}
.travel {
    height: 400px;
    position: relative;
  }

  
  .text10 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
    padding-bottom: 254px;
    font-weight: bold; /* Set the text color to make it visible against the image */
  }
  .text9{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
    padding-bottom: 306px;
    font-weight: bold;
    

  }

  .img4 {
    width: 100%; /* Ensure the image takes the full width of the container */
    height: 400px; /* Maintain the aspect ratio of the image */
    display: block; /* Remove extra space below the image */
    opacity: 70%;
  }
  .icn1 {
    position: absolute;
    top: 58%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    border: 5px solid;
    border-radius: 50%;
    font-size: 52px;
    height: 84px;
    width: 86px;
    opacity: 70%;
}

  .text11{
    position: absolute;
    top: 72%;
    left: 32%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    opacity: 81%;
    color: white;
}
.icn2{
    position: absolute;
    top: 58%;
    left: 39%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    border: 5px solid;
    border-radius: 50%;
    font-size: 52px;
    height: 84px;
    width: 86px;
    opacity: 70%;
    color: white;

}
.text12{
    position: absolute;
    top: 72%;
    left: 39%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    opacity: 81%;
    color: white;
}
.icn3{
    position: absolute;
    top: 58%;
    left: 46%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    border: 5px solid;
    border-radius: 50%;
    font-size: 52px;
    height: 84px;
    width: 86px;
    opacity: 70%;
    color: white;

}
.text13{
    position: absolute;
    top: 72%;
    left: 46%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    opacity: 81%;
    color: white;
}
.icn4{
    position: absolute;
    top: 58%;
    left: 53%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    border: 5px solid;
    border-radius: 50%;
    font-size: 52px;
    height: 84px;
    width: 86px;
    opacity: 70%;
    color: white;

}
.text14{
    position: absolute;
    top: 72%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    opacity: 81%;
    color: white;
}
.icn5{
    position: absolute;
    top: 58%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    border: 5px solid;
    border-radius: 50%;
    font-size: 52px;
    height: 84px;
    width: 86px;
    opacity: 70%;
    color: white;

}
.text15{
    position: absolute;
    top: 72%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    opacity: 81%;
    color: white;
}
.icn6{
    position: absolute;
    top: 58%;
    left: 67%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    border: 5px solid;
    border-radius: 50%;
    font-size: 52px;
    height: 84px;
    width: 86px;
    opacity: 70%;

}
.text16{
    position: absolute;
    top: 72%;
    left: 67%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    opacity: 81%;
    color: white;
}
.happy{
    position: relative;
    height: 116px;
    /* background-color: yellow; */
}
.text17{
    position: absolute;
    top: 14%;
    left: 44%;
    text-align: center;
    font-weight: bold;
}
.text18 {
    position: absolute;
    top: 42%;
    left: 36%;
    text-align: center;
    font-weight: bold;
}
.lorem{
    height: 100px;
    font-size: 10px;

}
.text19,.text20,.text21,.text22{
    width: 376px;
    border: 1px solid;
    opacity: 39%;
    display: inline-block;
    margin-bottom: 250px;
}
.text19:hover{
    transform: scale(1,2);
    font-weight: bold;
    color: black;
    opacity: 100%;
    border-top: 2px solid aqua;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.text20:hover{
    transform: scale(1,2);
    font-weight: bold;
    color: black;
    opacity: 100%;
    border-top: 2px solid aqua;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.text21:hover{
    transform: scale(1,2);
    font-weight: bold;
    color: black;
    opacity: 100%;
    border-top: 2px solid aqua;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.text22:hover{
    transform: scale(1,2);
    font-weight: bold;
    color: black;
    opacity: 100%;
    border-top: 2px solid aqua;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.about{
    height: 292px;
    background-color: darkslategrey;
    display: flex;
    
}
.text23{
    color: aqua;
    margin-left: 150px;
    padding-top: 71px;
}
.text24{
    color: white;
    margin-left: 150px;
    font-size: 12px;
}
.subscribe{
    width: 138px;
    margin-left: 150px;


}
.gobtn{
    background-color: aqua;
    color: white;
    border: none;
    width: 47px;
    height: 29px;
}
.latestnews{
    margin-left: 20px;
    padding-top: 71px;
    color: aqua;
    width: 200px;


}
.img5 ,.img6{
        width: 33px;
        height: 33px;
        border: 1px solid;
        border-color: white;
    }

 .imgtext{
    display: flex;

 }  
 .text26{ 
 font-size: 12px;
 margin-left: 8px;
 color: white;
 
}
.text27{
    color: aqua;
    font-size: 12px;
}
.text28{
    display: flex;
}
.dec {
    margin-right: 10px;
    font-size: 12px;
    color: aqua;
}
.text29{
    color: aqua;
    padding-top: 71px;
}
.btn4{
    background-color: darkslategray;
    border: 1px solid;
    font-size: 12px;
    color: white;
    border-color: white;
    width: 90px;
    height: 30px;
}
.btn5{
    background-color: darkslategray;
    border: 1px solid;
    font-size: 12px;
    color: white;
    border-color: white;
    height: 30px;
    width: 100px;

}
.btn6{
    background-color: darkslategray;
    border: 1px solid;
    font-size: 12px;
    color: white;
    border-color: white;
    height: 30px;
    margin-top: 2px;
    width: 108px;
}
.btn7{
    background-color: darkslategray;
    border: 1px solid;
    font-size: 12px;
    color: white;
    border-color: white;
    height: 30px;
    margin-top: 2px;

}
.btn8{
    background-color: darkslategray;
    border: 1px solid;
    font-size: 12px;
    color: white;
    border-color: white;
    height: 30px;
    margin-top: 2px;
}
.btn9{
    background-color: darkslategray;
    border: 1px solid;
    font-size: 12px;
    color: white;
    border-color: white;
    height: 30px;
    margin-top: 2px;
}
.btn10{
    background-color: darkslategray;
    border: 1px solid;
    font-size: 12px;
    color: white;
    border-color: white;
    height: 30px;
    margin-top: 2px;
}
.btn11,.btn12,.btn13{
    background-color: darkslategray;
    border: 1px solid;
    font-size: 12px;
    color: white;
    border-color: white;
    height: 30px;
    margin-top: 2px;

}
.text30{
    color: aqua;
    margin-top: 77px;
    margin-left: 12px;
}
.text31{
    color: white;
    margin-left: 12px;
    font-size: 12px;
}
.email{
    color: aqua;
}
.icn7{
    width: 200px;

}
.bb{
    display: flex;
    margin-left: 262px;
}
.sb{
    margin-left: 12px;
    margin-bottom: 20px;
}
.lastdiv{
    background-color: darkslategray;

}
.text32 {
    margin-left: 620px;
    color: white;
    font-size: 12px;
}
.hom:hover{
    color: aqua;
}
.text33{
    color: white;
    opacity: 70%;
    font-size: 12px;
    margin-left: 680px;
}